/* src/assets/css/app.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap");

.wrapper {
  margin: 0 auto;
  max-width: 3000px;
  width: 100%;
}

.animate-link a {
  display: inline-block;
  position: relative;
  text-decoration: none;

  padding-bottom: 5px;
}
.animate-link a::after {
  border-color: #93c3bf;
  border-radius: 5px;
  border-width: 3px;
  bottom: 0;
  content: "";
  height: 0.05em;
  left: 0;
  position: absolute;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
  width: 100%;
}
.animate-link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 1440px) {
  body {
    margin: auto;
  }
}
